# ignore everything in directory
# /*

# except: *.cpp, *.h, README, .gitignore
spell_checker/Release
spell_checker/Debug
Release
Debug
spell_checker.sdf
spell_checker.v11.suo
spell_checker.opensdf
spell_checker/spell_checker.vcxproj.user
spell_checker/spell_checker.vcxproj.filters
